		<div class="content" id="contact">
		<p class="pure-u-1-1 header animateElement animateElementOpacity">Contact Us</p>
		<div class="pure-g">
			<div class="pure-u-1-3 headContact">
				<img src="images/suvindu.jpg" class="contactImage animateElement animateElementLeft" />
				<p class="nameOfHead contactDetail animateElement animateElementLeft">Suvindu Ch</p>
				<p class="contactDetail animateElement animateElementLeft">+91 9940248645</p>
				
			</div>
			<div class="pure-u-1-3 headContact">
				<img src="images/jaikishan.jpg" class="contactImage animateElement animateElementOpacity" />
				<p class="nameOfHead contactDetail animateElement animateElementOpacity">Jaikishan Dulani</p>
				<p class="contactDetail animateElement animateElementOpacity">+91 9087863840</p>
				
			</div>
			<div class="pure-u-1-3 headContact">
				<img src="images/shreyas.jpg" class="contactImage animateElement animateElementRight" />
				<p class="nameOfHead contactDetail animateElement animateElementRight">Shreyas Kumar</p>
				<p class="contactDetail animateElement animateElementRight">+91 9176478369</p>
				
			</div>
			<div class="pure-u-1-1 animateElement animateElementOpacity" style="text-align:center;">
				For any queries, drop an email to surc@shaastra.org
			</div>
		</div>
		</div>