		
		<div class="content lowWidth" id="eventFormat">
			<p class="pure-u-1-1 header animateElement animateElementOpacity">Event Format</p>
			<div class="pure-u-1-1">
				<p class="animateElement animateElementOpacity">The event format is different for both indian teams and international teams.</p>
				<p class="animateElement animateElementOpacity">This event will be held in two stages:</p>
				<ol>
					<li class="animateElement animateElementLeft">Prelims/ TDP Submission</li>
					<li class="animateElement animateElementLeft">Mains</li>
				</ol>
			</div>
		</div>

		<div class="content lowWidth" id="indianTeams">
			<h1 class="animateElement animateElementOpacity"> Indian Teams </h1>
			<ul>
				<li>
					<p class="animateElement animateElementOpacity">Prelims</p>
					<p class="animateElement animateElementOpacity">The prelims will be conducted in all major cities across the nation except in IIT Madras whereit would be conducted during Shaastra. Students can participate in a team of maximum 6members. The finalists from each center will be invited to IIT Madras to participate in themains event of the competition to be held during Shaastra ‘17.</p>
				</li>
				<li>
					<p class="animateElement animateElementOpacity">MAINS</p>
					<p class="animateElement animateElementOpacity">Finals of SURC will be held at IIT Madras during its Annual echnical Festival SHAASTRA where participants will go all guns blazing at finest robotics enthusiasts from the country as well as across the world. The problem statement of the Finals will be an advanced version of prelims and would be declared after Prelims round. Participants will also get a chance to witness and participate in various other events which will be conducted during these 5 days.</p>
				</li>
			</ul>
		</div>

		<div class="content lowWidth" id="internationalTeams">
			<h1 class="animateElement animateElementOpacity"> International Teams </h1>
			<ul>
				<li>
					<h2 class="animateElement animateElementOpacity">TDP Submission</h2>
					<p class="animateElement animateElementOpacity">Teams have to submit a video and document on the prelims problem statement presented to them. Based on these teams would be invited to Shaastra.</p>
				</li>
				<li>
					<h2 class="animateElement animateElementOpacity">MAINS</h2>
					<p class="animateElement animateElementOpacity">Finals of SURC will be held at IIT Madras during its Annual echnical Festival SHAASTRA where participants will go all guns blazing at finest robotics enthusiasts from the country as well as across the world. The problem statement of the Finals will be an advanced version of prelims and would be declared after Prelims round. Participants will also get a chance to witness and participate in various other events which will be conducted during these 5 days.</p>
				</li>
			</ul>
		</div>