		<div class="content lowWidth" id="FAQ">
			<p class="header animateElement animateElementOpacity">FAQ</p>
			<div class="pure-u-1-1 ">
				<p class="FAQQuestion animateElement animateElementOpacity">What is Shaastra Ultimate Robotics Challenge?</p>
				<p class="animateElement animateElementOpacity">Shaastra Ultimate Robotics Challenge is an all India robotics competition that is organised by IIT Madras as a part of its annual technical fest, Shaastra 2017.</p>
				<p class="FAQQuestion animateElement animateElementOpacity">What is the timeline?</p>
				<p class="animateElement animateElementOpacity">Shaastra Ultimate Robotics Challenge will be held in two stages, the prelims and the mains. The prelims will be held in October in all the major cities across India. The mains will be conducted in IIT Madras during Shaastra 2017.</p>
				<p class="FAQQuestion animateElement animateElementOpacity">What are the goals of Shaastra Ultimate Robotics Challenge?</p>
				<p class="animateElement animateElementOpacity">Shaastra Ultimate Robotics Challenge is an international level robotics competition organized by IIT Madras, which serves as an opportunity to ​get a taste of some formidable competition in robotics and experience the level of teams from across the country and the globe. Winners of the prelims will get a golden opportunity to visit IIT Madras during Shaastra 2017 and witness and participate in other competitions which will be held during Shaastra.</p>
				<p class="FAQQuestion animateElement animateElementOpacity">How do we participate in Shaastra Ultimate Robotics Challenge?</p>
				<p class="animateElement animateElementOpacity">To register, participants must fill the registration form which is available on the official Shaastra Ultimate Robotics Challenge website. Each team can have a maximum of 5 members. Registration fees for each team has to be paid on the day of the event at the respective centres.</p>
			</div>
		</div>