		<img id="backgroundImageLeft" src="images/SURC1.jpg" />
		<img id="backgroundImageRight" src="images/SURC2.jpg" />
		<div class="content lowWidth" id="introduction">
			<p class="header animateElement animateElementOpacity">
				Shaastra Ultimate Robotics Championship<br /><br />
				(S.U.R.C)
			</p>
			<p class="animateElement animateElementOpacity" id="firstParagraph">To spread Science and Technology around the globe, this year's Shaastra 2017 aims at bringing all the tech enthusiasts of the student community under one roof. Shaastra has evolved to provide an international platform for all the robotics enthusiasts around the globe. It strives to achieve excellence in terms of getting the best minds to think and showcase their technical learning.</p>
			<p class="animateElement animateElementOpacity">Shaastra 2017 presents you with an event that the tech world has never seen before, the Shaastra Ultimate Robotics Championship! The Shaastra Ultimate Robotics Championship(SURC) is an International Robotics Championship conducted by IIT Madras as a part of their Annual Technical Festival SHAASTRA.</p>
		</div>