
		<div class="content lowWidth pure-g" id="introduction">
			<p class="header animateElement animateElementOpacity pure-u-1-1">
				Shaastra Ultimate Robotics Championship<br /><br />
				(S.U.R.C)
			</p>
			<div class="pure-u-1-2">
				<p class="animateElement animateElementOpacity" id="firstParagraph">To spread Science and Technology across the globe this year's Shaastra aims at bringing all the tech enthusiasts of the student community under one roof. To achieve excellence in terms of getting the best minds to think, to showcase their technical learning and also an overall experience of technology Shaastra has evolved to give an international platform for all the robotics enthusiasts around the Globe.</p>
				<p class="animateElement animateElementOpacity">Shaastra introduces a brand new event Shaastra Ultimate Robotics Championship ​that the tech world has never seen before. Shaastra Ultimate Robotics Championship(SURC) is an International Robotics Championship conducted by IIT Madras as a part of their Annual Technical Festival SHAASTRA.</p>
			</div>
			<div class="pure-u-1-2">
				<img src="images/SURC2.jpg" id="introductionImage" class="animateElement animateElementOpacity" />
			</div>
		</div>