		
		<div class="content lowWidth" id="internationalTeams">
			<p class="pure-u-1-1 header animateElement animateElementOpacity">Event Format for International Teams</p>
			<p class="animateElement animateElementOpacity">International teams consist of the teams participating in the event which are not from India.</p>
			<ul>
				<li>
					<h2 class="animateElement animateElementOpacity">CDR: Critical Design Review</h2>
					<p class="animateElement animateElementOpacity">In this round the participating teams have to make a video and a document submission for CDR problem statement given in the problem statement tab of this website. From the CDR submissions, teams would be shortlisted and invited to the Mains of SURC at Shaastra 2017.</p>
				</li>
				<li>
					<h2 class="animateElement animateElementOpacity">Finals</h2>
					<p class="animateElement animateElementOpacity">Finals of SURC will be held at IIT Madras during its Annual Technical Festival SHAASTRA where participants will go all guns blazing at finest robotics enthusiasts across the world. The problem statement of the Finals will be declared soon. Participants will also get a chance to witness and participate in various other events which will be conducted during these 5 days.</p>
				</li>
			</ul>
		</div>