	
		
		<div class="content lowWidth" id="prelims">
			<p class="pure-u-1-1 header animateElement animateElementOpacity">Zonals</p>
			<p class="animateElement animateElementOpacity">Please find the schedule of Zonals across various cities. Any changes in venues or dates will be updated only here. Keep checking the website for changes.</p><br />
			<table class="pure-table pure-table-horizontal" id="venueTable">
				<thead>
					<tr class="animateElement animateElementOpacity">
						<th>City</th>
						<th>Venue</th>
						<th>Date of Zonals</th>
					</tr>
				</thead>
				<tr class="animateElement animateElementOpacity">
					<td>Chennai</td>
					<td>Will be released soon</td>
					<td>Will be released soon</td>
				</tr>
				<tr class="animateElement animateElementOpacity">
					<td>Coimbatore</td>
					<td>Will be released soon</td>
					<td>Will be released soon</td>
				</tr>
				<tr class="animateElement animateElementOpacity">
					<td>Hyderabad</td>
					<td>Will be released soon</td>
					<td>October 8<sup>th</sup>, 9<sup>th</sup></td>
				</tr>
				<tr class="animateElement animateElementOpacity">	
					<td>Kochi</td>
					<td>Will be released soon</td>
					<td>October 29<sup>th</sup></td>
				</tr>
				<tr class="animateElement animateElementOpacity">
					<td>Kolkata</td>
					<td>Will be released soon</td>
					<td>Will be released soon</td>
				</tr>
				<tr class="animateElement animateElementOpacity">	
					<td>Madurai</td>
					<td>Will be released soon</td>
					<td>October 22<sup>nd</sup>, 23<sup>rd</sup></td>
				</tr>
				<!--<tr class="animateElement animateElementOpacity">	
					<td>Mumbai</td>
					<td>Will be released soon</td>
					<td>Will be released soon</td>
				</tr>-->
				<tr class="animateElement animateElementOpacity">	
					<td>New Delhi</td>
					<td>Will be released soon</td>
					<td>Will be released soon</td>
				</tr>
				<tr class="animateElement animateElementOpacity">	
					<td>Pune</td>
					<td>Will be released soon</td>
					<td>October 12<sup>th</sup></td>
				</tr>
				<tr class="animateElement animateElementOpacity">	
					<td>Trivandrum</td>
					<td>Will be released soon</td>
					<td>October 22<sup>nd</sup></td>
				</tr>
			</table>
			<img src="images/map.jpg" id="map" class="animateElement animateElementOpacity" />
		</div>