	
		
		<div class="content lowWidth" id="prelims">
			<p class="pure-u-1-1 header animateElement animateElementOpacity">Prelims</p>
			<p class="animateElement animateElementOpacity">Please find the schedule of prelims across various cities. Any changes in venues or dates will be updated only here. Keep checking the website for changes.</p><br />
			<table class="pure-table pure-table-horizontal" id="venueTable">
				<thead>
					<tr class="animateElement animateElementOpacity">
						<th>City</th>
						<th>Venue</th>
						<th>Date of Prelims</th>
					</tr>
				</thead>
				<tr class="animateElement animateElementOpacity">
					<td>Chennai</td>
					<td>Will be released soon</td>
					<td>Will be released soon</td>
				</tr>
				<tr class="animateElement animateElementOpacity">
					<td>Coimbatore</td>
					<td>Will be released soon</td>
					<td>Will be released soon</td>
				</tr>
				<tr class="animateElement animateElementOpacity">
					<td>Trichy</td>
					<td>Will be released soon</td>
					<td>Will be released soon</td>
				</tr>
				<tr class="animateElement animateElementOpacity">
					<td>Kochi</td>
					<td>Will be released soon</td>
					<td>Will be released soon</td>
				</tr>
				<tr class="animateElement animateElementOpacity">	
					<td>Trivandrum</td>
					<td>Will be released soon</td>
					<td>Will be released soon</td>
				</tr>
				<tr class="animateElement animateElementOpacity">	
					<td>Hyderabad</td>
					<td>Will be released soon</td>
					<td>Will be released soon</td>
				</tr>
				<tr class="animateElement animateElementOpacity">	
					<td>Pune</td>
					<td>Will be released soon</td>
					<td>Will be released soon</td>
				</tr>
				<tr class="animateElement animateElementOpacity">	
					<td>Delhi</td>
					<td>Will be released soon</td>
					<td>Will be released soon</td>
				</tr>
				<tr class="animateElement animateElementOpacity">	
					<td>Kolkota</td>
					<td>Will be released soon</td>
					<td>Will be released soon</td>
				</tr>
			</table>
			<img src="images/map.jpg" id="map" class="animateElement animateElementOpacity" />
		</div>