
		<div class="content lowWidth" id="problemStatement">
			<p class="pure-u-1-1 header animateElement animateElementOpacity">Problem Statement</p>
			<div class="pure-u-1-1">
				<p class="animateElement animateElementOpacity">Zonals Problem Statement can be found <a href="http://bit.ly/SURC_Shaastra-2017" target="_blank">here</a>.</p>
				<p class="animateElement animateElementOpacity">CDR Problem Statement will be released soon.</p>
				<p class="animateElement animateElementOpacity">Finals Problem Statement will be released soon.</p>
			</div>
		</div>