
		<div class="content lowWidth" id="problemStatement">
			<p class="pure-u-1-1 header animateElement animateElementOpacity">Problem Statement</p>
			<div class="pure-u-1-1">
				<p class="animateElement animateElementOpacity">Zonals Problem Statement can be found <a href="http://bit.ly/SURC_Shaastra-2017" target="_blank">here</a>.</p>
				<p class="animateElement animateElementOpacity">CDR can be found <a href="http://bit.ly/SURC_cdr" target="_blank">here</a>.</p>
				<p class="animateElement animateElementOpacity">Finals Problem Statement can be found <a href="http://bit.ly/SURC_FINALS_PS" target="_blank">here</a>.</p>
				<p class="animateElement animateElementOpacity">Please note <br />
				The Indian teams have to register themselves for Zonals by 11:59 pm IST, 10 October 2016 <br />
				The International teams have to register for CDR Submission by 11:59 pm IST, 18 October 2016</p>
			</div>
		</div>