<!--<iframe id="regFormiFrame" src="https://docs.google.com/forms/d/e/1FAIpQLSe1-UDDDOfOQd8UOkVrxXaF4nZ8FLveeGr1_DSaRSpO7lWMgA/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>-->
		<div class="content lowWidth" id="registration" ng-controller="RegistrationFormController as formCtrl">
			<form id="registrationForm" name="registrationForm" class="pure-form pure-form-stacked animateElement animateElementOpacity">
				<fieldset>
					<legend id="regHeader"> Registration for S.U.R.C </legend>
					<legend>
						Indian teams have to pay a registration fee of Rs 600 for participating in the prelims.
						<br />
						International teams have to pay a registration fee of Rs 600 only if they are invited to mains at Shaastra 2017.
					</legend>
					<div id="selectNation">
						<label for="indianParticipant">
							<input id="indianParticipant" type="radio" ng-model="whereFrom" value="Indian">
							Indian
    					</label>
    					<label for="internationalParticipant">
							<input id="internationalParticipant" type="radio" ng-model="whereFrom" value="International" >
							International
    					</label>
					</div>
					<div class="pure-control-group" ng-show="whereFrom">
						<label for="numberOfMembers"> Number of team members </label>
						<select ng-model="numberOfMembers" id="numberOfMembers" ng-options="i for i in numbers">
						</select>
					</div>
					<div class="participantInfo" id="participant1"  ng-if="formCtrl.toBeDisplayed(1)">
						<h2> Participant 1 </h2>
						<div class="pure-control-group">
							<label> Name </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(1)" id="participant1Name" ng-model="participant1Name" placeholder="Your Name" />
						</div>
						<div class="pure-control-group" ng-if="whereFrom === 'International'">
							<label> Country </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(1) && whereFrom === 'International'" id="participant1Country" ng-model="participant1Country" placeholder="Your Country" />
						</div>
						<div class="pure-control-group">
							<label> City </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(1) && whereFrom === 'Indian'" id="participant1City" ng-model="participant1City" ng-if="whereFrom === 'Indian'" placeholder="City in which you want to participate" />
							<input type="text" ng-required="formCtrl.toBeDisplayed(1) && whereFrom === 'International'" id="participant1City" ng-model="participant1City" ng-if="whereFrom === 'International'" placeholder="Your City" />
						</div>
						<div class="pure-control-group">
							<label> College </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(1)" id="participant1College" ng-model="participant1College" placeholder="Your College Name" />
						</div>
						<div class="pure-control-group">
							<label> College ID </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(1)" id="participant1Name" ng-model="participant1CollegeID" placeholder="Your ID in your college" />
						</div>
						<div class="pure-control-group">
							<label> e-Mail </label>
							<input type="email" ng-required="formCtrl.toBeDisplayed(1)" id="participant1Name" ng-model="participant1Mail" placeholder="Your MailID" />
						</div>
						<div class="pure-control-group">
							<label> Phone Number </label>
							<input type="number" ng-required="formCtrl.toBeDisplayed(1)" id="participant1Name" ng-model="participant1Phone" placeholder="Your Phone Number" />
						</div>
					</div>
					<div class="participantInfo" id="participant2"  ng-if="formCtrl.toBeDisplayed(2)">
						<h2> Participant 2 </h2>
						<div class="pure-control-group">
							<label> Name </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(2)" id="participant2Name" ng-model="participant2Name" placeholder="Your Name" />
						</div>
						<div class="pure-control-group" ng-if="whereFrom === 'International'">
							<label> Country </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(2) && whereFrom === 'International'" id="participant2Country" ng-model="participant2Country" placeholder="Your Country" />
						</div>
						<div class="pure-control-group">
							<label> City </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(2) && whereFrom === 'Indian'" id="participant2City" ng-model="participant2City" ng-if="whereFrom === 'Indian'" placeholder="City in which you want to participate" />
							<input type="text" ng-required="formCtrl.toBeDisplayed(2) && whereFrom === 'International'" id="participant2City" ng-model="participant2City" ng-if="whereFrom === 'International'" placeholder="Your City" />
						</div>
						<div class="pure-control-group">
							<label> College </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(2)" id="participant2College" ng-model="participant2College" placeholder="Your College Name" />
						</div>
						<div class="pure-control-group">
							<label> College ID </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(2)" id="participant2Name" ng-model="participant2CollegeID" placeholder="Your ID in your college" />
						</div>
						<div class="pure-control-group">
							<label> e-Mail </label>
							<input type="email" ng-required="formCtrl.toBeDisplayed(2)" id="participant2Name" ng-model="participant2Mail" placeholder="Your MailID" />
						</div>
						<div class="pure-control-group">
							<label> Phone Number </label>
							<input type="number" ng-required="formCtrl.toBeDisplayed(2)" id="participant2Name" ng-model="participant2Phone" placeholder="Your Phone Number" />
						</div>
					</div>
					<div class="participantInfo" id="participant3"  ng-if="formCtrl.toBeDisplayed(3)">
						<h2> Participant 3 </h2>
						<div class="pure-control-group">
							<label> Name </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(3)" id="participant3Name" ng-model="participant3Name" placeholder="Your Name" />
						</div>
						<div class="pure-control-group" ng-if="whereFrom === 'International'">
							<label> Country </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(3) && whereFrom === 'International'" id="participant3Country" ng-model="participant3Country" placeholder="Your Country" />
						</div>
						<div class="pure-control-group">
							<label> City </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(3) && whereFrom === 'Indian'" id="participant3City" ng-model="participant3City" ng-if="whereFrom === 'Indian'" placeholder="City in which you want to participate" />
							<input type="text" ng-required="formCtrl.toBeDisplayed(3) && whereFrom === 'International'" id="participant3City" ng-model="participant3City" ng-if="whereFrom === 'International'" placeholder="Your City" />
						</div>
						<div class="pure-control-group">
							<label> College </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(3)" id="participant3College" ng-model="participant3College" placeholder="Your College Name" />
						</div>
						<div class="pure-control-group">
							<label> College ID </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(3)" id="participant3Name" ng-model="participant3CollegeID" placeholder="Your ID in your college" />
						</div>
						<div class="pure-control-group">
							<label> e-Mail </label>
							<input type="email" ng-required="formCtrl.toBeDisplayed(3)" id="participant3Name" ng-model="participant3Mail" placeholder="Your MailID" />
						</div>
						<div class="pure-control-group">
							<label> Phone Number </label>
							<input type="number" ng-required="formCtrl.toBeDisplayed(3)" id="participant3Name" ng-model="participant3Phone" placeholder="Your Phone Number" />
						</div>
					</div>
					<div class="participantInfo" id="participant4"  ng-if="formCtrl.toBeDisplayed(4)">
						<h2> Participant 4 </h2>
						<div class="pure-control-group">
							<label> Name </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(4)" id="participant4Name" ng-model="participant4Name" placeholder="Your Name" />
						</div>
						<div class="pure-control-group" ng-if="whereFrom === 'International'">
							<label> Country </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(4) && whereFrom === 'International'" id="participant4Country" ng-model="participant4Country" placeholder="Your Country" />
						</div>
						<div class="pure-control-group">
							<label> City </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(4) && whereFrom === 'Indian'" id="participant4City" ng-model="participant4City" ng-if="whereFrom === 'Indian'" placeholder="City in which you want to participate" />
							<input type="text" ng-required="formCtrl.toBeDisplayed(4) && whereFrom === 'International'" id="participant4City" ng-model="participant4City" ng-if="whereFrom === 'International'" placeholder="Your City" />
						</div>
						<div class="pure-control-group">
							<label> College </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(4)" id="participant4College" ng-model="participant4College" placeholder="Your College Name" />
						</div>
						<div class="pure-control-group">
							<label> College ID </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(4)" id="participant4Name" ng-model="participant4CollegeID" placeholder="Your ID in your college" />
						</div>
						<div class="pure-control-group">
							<label> e-Mail </label>
							<input type="email" ng-required="formCtrl.toBeDisplayed(4)" id="participant4Name" ng-model="participant4Mail" placeholder="Your MailID" />
						</div>
						<div class="pure-control-group">
							<label> Phone Number </label>
							<input type="number" ng-required="formCtrl.toBeDisplayed(4)" id="participant4Name" ng-model="participant4Phone" placeholder="Your Phone Number" />
						</div>
					</div>
					<div class="participantInfo" id="participant5"  ng-if="formCtrl.toBeDisplayed(5)">
						<h2> Participant 5 </h2>
						<div class="pure-control-group">
							<label> Name </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(5)" id="participant5Name" ng-model="participant5Name" placeholder="Your Name" />
						</div>
						<div class="pure-control-group" ng-if="whereFrom === 'International'">
							<label> Country </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(5) && whereFrom === 'International'" id="participant5Country" ng-model="participant5Country" placeholder="Your Country" />
						</div>
						<div class="pure-control-group">
							<label> City </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(5) && whereFrom === 'Indian'" id="participant5City" ng-model="participant5City" ng-if="whereFrom === 'Indian'" placeholder="City in which you want to participate" />
							<input type="text" ng-required="formCtrl.toBeDisplayed(5) && whereFrom === 'International'" id="participant5City" ng-model="participant5City" ng-if="whereFrom === 'International'" placeholder="Your City" />
						</div>
						<div class="pure-control-group">
							<label> College </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(5)" id="participant5College" ng-model="participant5College" placeholder="Your College Name" />
						</div>
						<div class="pure-control-group">
							<label> College ID </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(5)" id="participant5Name" ng-model="participant5CollegeID" placeholder="Your ID in your college" />
						</div>
						<div class="pure-control-group">
							<label> e-Mail </label>
							<input type="email" ng-required="formCtrl.toBeDisplayed(5)" id="participant5Name" ng-model="participant5Mail" placeholder="Your MailID" />
						</div>
						<div class="pure-control-group">
							<label> Phone Number </label>
							<input type="number" ng-required="formCtrl.toBeDisplayed(5)" id="participant5Name" ng-model="participant5Phone" placeholder="Your Phone Number" />
						</div>
					</div>
					<div class="participantInfo" id="participant6" ng-if="formCtrl.toBeDisplayed(6)">
						<h2> Participant 6 </h2>
						<div class="pure-control-group">
							<label> Name </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(6)" id="participant6Name" ng-model="participant6Name" placeholder="Your Name" />
						</div>
						<div class="pure-control-group" ng-if="whereFrom === 'International'">
							<label> Country </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(6) && whereFrom === 'International'" id="participant6Country" ng-model="participant6Country" placeholder="Your Country" />
						</div>
						<div class="pure-control-group">
							<label> City </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(6) && whereFrom === 'Indian'" id="participant6City" ng-model="participant6City" ng-if="whereFrom === 'Indian'" placeholder="City in which you want to participate" />
							<input type="text" ng-required="formCtrl.toBeDisplayed(6) && whereFrom === 'International'" id="participant6City" ng-model="participant6City" ng-if="whereFrom === 'International'" placeholder="Your City" />
						</div>
						<div class="pure-control-group">
							<label> College </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(6)" id="participant6College" ng-model="participant6College" placeholder="Your College Name" />
						</div>
						<div class="pure-control-group">
							<label> College ID </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(6)" id="participant6Name" ng-model="participant6CollegeID" placeholder="Your ID in your college" />
						</div>
						<div class="pure-control-group">
							<label> e-Mail </label>
							<input type="email" ng-required="formCtrl.toBeDisplayed(6)" id="participant6Name" ng-model="participant6Mail" placeholder="Your MailID" />
						</div>
						<div class="pure-control-group">
							<label> Phone Number </label>
							<input type="number" ng-required="formCtrl.toBeDisplayed(6)" id="participant6Name" ng-model="participant6Phone" placeholder="Your Phone Number" />
						</div>
					</div>
					<div ng-if="formCtrl.toBeDisplayed(1)" id="submitWrapper">
						<input type="submit" name="submit" value="Sumbit" class="pure-button" ng-disabled="registrationForm.$invalid" />
					</div>					
				</fieldset>
			</form>
		</div>