<!--<iframe id="regFormiFrame" src="https://docs.google.com/forms/d/e/1FAIpQLSe1-UDDDOfOQd8UOkVrxXaF4nZ8FLveeGr1_DSaRSpO7lWMgA/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>-->
		<div class="content lowWidth" id="registration" ng-controller="RegistrationFormController as formCtrl">
			<form id="registrationForm" name="registrationForm" class="pure-form pure-form-stacked animateElement animateElementOpacity" method="post">
				<fieldset>
					<legend id="regHeader"> Registration for S.U.R.C </legend>
					<legend>
						Teams have to pay a registration fee of Rs 600 per team for participating in Zonals/CDR Submission.
					</legend>
					<div id="feePayment">
						<legend>
							Payment link will be sent through email after successful registration below.
						<br />
							Please note: The first 10 teams to register from each region will get early bird discount of 50%.
						</legend>
					</div>
					<div id="selectNation">
						Nationality:
						<label for="indianParticipant">
							<input id="indianParticipant" type="radio" ng-model="whereFrom" value="Indian">
							Indian
    					</label>
    					<label for="internationalParticipant">
							<input id="internationalParticipant" type="radio" ng-model="whereFrom" value="International" >
							International
    					</label>
					</div>
					<div class="pure-control-group" ng-show="whereFrom">
						<label for="numberOfMembers"> Number of team members </label>
						<select ng-model="numberOfMembers" id="numberOfMembers" ng-options="i for i in numbers">
						</select>
					</div>

					<div class="participantInfo" id="participant1"  ng-if="formCtrl.toBeDisplayed(1)">
						<h2> Participant 1 </h2>
						<div class="pure-control-group">
							<label> Name </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(1)" name="participant1Name" ng-model="participant1Name" placeholder="Your Name" />
						</div>
						<div class="pure-control-group" ng-if="whereFrom === 'International'">
							<label> Country </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(1) && whereFrom === 'International'" name="participant1Country" ng-model="participant1Country" placeholder="Your Country" />
						</div>
						<div class="pure-control-group">
							<label> City </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(1) && whereFrom === 'Indian'" name="participant1City" ng-model="participant1City" ng-if="whereFrom === 'Indian'" placeholder="City in which you want to participate" />
							<input type="text" ng-required="formCtrl.toBeDisplayed(1) && whereFrom === 'International'" name="participant1City" ng-model="participant1City" ng-if="whereFrom === 'International'" placeholder="Your City" />
						</div>
						<div class="pure-control-group">
							<label> College </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(1)" name="participant1College" ng-model="participant1College" placeholder="Your College Name" />
						</div>
						<div class="pure-control-group">
							<label> College ID </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(1)" name="participant1CollegeID" ng-model="participant1CollegeID" placeholder="Your ID in your college" />
						</div>
						<div class="pure-control-group">
							<label> e-Mail </label>
							<input type="email" ng-required="formCtrl.toBeDisplayed(1)" name="participant1Mail" ng-model="participant1Mail" placeholder="Your MailID" />
						</div>
						<div class="pure-control-group">
							<label> Phone Number </label>
							<input type="number" ng-required="formCtrl.toBeDisplayed(1)" name="participant1Number" ng-model="participant1Phone" placeholder="Your Phone Number" />
						</div>
					</div>

					<div class="participantInfo" id="participant2"  ng-if="formCtrl.toBeDisplayed(2)">
						<h2> Participant 2 </h2>
						<div class="pure-control-group">
							<label> Name </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(2)" name="participant2Name" ng-model="participant2Name" placeholder="Your Name" />
						</div>
						<div class="pure-control-group" ng-if="whereFrom === 'International'">
							<label> Country </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(2) && whereFrom === 'International'" name="participant2Country" ng-model="participant2Country" placeholder="Your Country" />
						</div>
						<div class="pure-control-group">
							<label> City </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(2) && whereFrom === 'Indian'" name="participant2City" ng-model="participant2City" ng-if="whereFrom === 'Indian'" placeholder="City in which you want to participate" />
							<input type="text" ng-required="formCtrl.toBeDisplayed(2) && whereFrom === 'International'" name="participant2City" ng-model="participant2City" ng-if="whereFrom === 'International'" placeholder="Your City" />
						</div>
						<div class="pure-control-group">
							<label> College </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(2)" name="participant2College" ng-model="participant2College" placeholder="Your College Name" />
						</div>
						<div class="pure-control-group">
							<label> College ID </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(2)" name="participant2CollegeID" ng-model="participant2CollegeID" placeholder="Your ID in your college" />
						</div>
						<div class="pure-control-group">
							<label> e-Mail </label>
							<input type="email" ng-required="formCtrl.toBeDisplayed(2)" name="participant2Mail" ng-model="participant2Mail" placeholder="Your MailID" />
						</div>
						<div class="pure-control-group">
							<label> Phone Number </label>
							<input type="number" ng-required="formCtrl.toBeDisplayed(2)" name="participant2Number" ng-model="participant2Phone" placeholder="Your Phone Number" />
						</div>
					</div>

					<div class="participantInfo" id="participant3"  ng-if="formCtrl.toBeDisplayed(3)">
						<h2> Participant 3 </h2>
						<div class="pure-control-group">
							<label> Name </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(3)" name="participant3Name" ng-model="participant3Name" placeholder="Your Name" />
						</div>
						<div class="pure-control-group" ng-if="whereFrom === 'International'">
							<label> Country </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(3) && whereFrom === 'International'" name="participant3Country" ng-model="participant3Country" placeholder="Your Country" />
						</div>
						<div class="pure-control-group">
							<label> City </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(3) && whereFrom === 'Indian'" name="participant3City" ng-model="participant3City" ng-if="whereFrom === 'Indian'" placeholder="City in which you want to participate" />
							<input type="text" ng-required="formCtrl.toBeDisplayed(3) && whereFrom === 'International'" name="participant3City" ng-model="participant3City" ng-if="whereFrom === 'International'" placeholder="Your City" />
						</div>
						<div class="pure-control-group">
							<label> College </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(3)" name="participant3College" ng-model="participant3College" placeholder="Your College Name" />
						</div>
						<div class="pure-control-group">
							<label> College ID </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(3)" name="participant3CollegeID" ng-model="participant3CollegeID" placeholder="Your ID in your college" />
						</div>
						<div class="pure-control-group">
							<label> e-Mail </label>
							<input type="email" ng-required="formCtrl.toBeDisplayed(3)" name="participant3Mail" ng-model="participant3Mail" placeholder="Your MailID" />
						</div>
						<div class="pure-control-group">
							<label> Phone Number </label>
							<input type="number" ng-required="formCtrl.toBeDisplayed(3)" name="participant3Number" ng-model="participant3Phone" placeholder="Your Phone Number" />
						</div>
					</div>

					<div class="participantInfo" id="participant4"  ng-if="formCtrl.toBeDisplayed(4)">
						<h2> Participant 4 </h2>
						<div class="pure-control-group">
							<label> Name </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(4)" name="participant4Name" ng-model="participant4Name" placeholder="Your Name" />
						</div>
						<div class="pure-control-group" ng-if="whereFrom === 'International'">
							<label> Country </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(4) && whereFrom === 'International'" name="participant4Country" ng-model="participant4Country" placeholder="Your Country" />
						</div>
						<div class="pure-control-group">
							<label> City </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(4) && whereFrom === 'Indian'" name="participant4City" ng-model="participant4City" ng-if="whereFrom === 'Indian'" placeholder="City in which you want to participate" />
							<input type="text" ng-required="formCtrl.toBeDisplayed(4) && whereFrom === 'International'" name="participant4City" ng-model="participant4City" ng-if="whereFrom === 'International'" placeholder="Your City" />
						</div>
						<div class="pure-control-group">
							<label> College </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(4)" name="participant4College" ng-model="participant4College" placeholder="Your College Name" />
						</div>
						<div class="pure-control-group">
							<label> College ID </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(4)" name="participant4CollegeID" ng-model="participant4CollegeID" placeholder="Your ID in your college" />
						</div>
						<div class="pure-control-group">
							<label> e-Mail </label>
							<input type="email" ng-required="formCtrl.toBeDisplayed(4)" name="participant4Mail" ng-model="participant4Mail" placeholder="Your MailID" />
						</div>
						<div class="pure-control-group">
							<label> Phone Number </label>
							<input type="number" ng-required="formCtrl.toBeDisplayed(4)" name="participant4Number" ng-model="participant4Phone" placeholder="Your Phone Number" />
						</div>
					</div>

					<div class="participantInfo" id="participant5"  ng-if="formCtrl.toBeDisplayed(5)">
						<h2> Participant 5 </h2>
						<div class="pure-control-group">
							<label> Name </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(5)" name="participant5Name" ng-model="participant5Name" placeholder="Your Name" />
						</div>
						<div class="pure-control-group" ng-if="whereFrom === 'International'">
							<label> Country </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(5) && whereFrom === 'International'" name="participant5Country" ng-model="participant5Country" placeholder="Your Country" />
						</div>
						<div class="pure-control-group">
							<label> City </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(5) && whereFrom === 'Indian'" name="participant5City" ng-model="participant5City" ng-if="whereFrom === 'Indian'" placeholder="City in which you want to participate" />
							<input type="text" ng-required="formCtrl.toBeDisplayed(5) && whereFrom === 'International'" name="participant5City" ng-model="participant5City" ng-if="whereFrom === 'International'" placeholder="Your City" />
						</div>
						<div class="pure-control-group">
							<label> College </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(5)" name="participant5College" ng-model="participant5College" placeholder="Your College Name" />
						</div>
						<div class="pure-control-group">
							<label> College ID </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(5)" name="participant5CollegID" ng-model="participant5CollegeID" placeholder="Your ID in your college" />
						</div>
						<div class="pure-control-group">
							<label> e-Mail </label>
							<input type="email" ng-required="formCtrl.toBeDisplayed(5)" name="participant5Mail" ng-model="participant5Mail" placeholder="Your MailID" />
						</div>
						<div class="pure-control-group">
							<label> Phone Number </label>
							<input type="number" ng-required="formCtrl.toBeDisplayed(5)" id="participant5Number" ng-model="participant5Phone" placeholder="Your Phone Number" />
						</div>
					</div>

					<div class="participantInfo" id="participant6" ng-if="formCtrl.toBeDisplayed(6)">
						<h2> Participant 6 </h2>
						<div class="pure-control-group">
							<label> Name </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(6)" name="participant6Name" ng-model="participant6Name" placeholder="Your Name" />
						</div>
						<div class="pure-control-group" ng-if="whereFrom === 'International'">
							<label> Country </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(6) && whereFrom === 'International'" name="participant6Country" ng-model="participant6Country" placeholder="Your Country" />
						</div>
						<div class="pure-control-group">
							<label> City </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(6) && whereFrom === 'Indian'" name="participant6City" ng-model="participant6City" ng-if="whereFrom === 'Indian'" placeholder="City in which you want to participate" />
							<input type="text" ng-required="formCtrl.toBeDisplayed(6) && whereFrom === 'International'" name="participant6City" ng-model="participant6City" ng-if="whereFrom === 'International'" placeholder="Your City" />
						</div>
						<div class="pure-control-group">
							<label> College </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(6)" name="participant6College" ng-model="participant6College" placeholder="Your College Name" />
						</div>
						<div class="pure-control-group">
							<label> College ID </label>
							<input type="text" ng-required="formCtrl.toBeDisplayed(6)" name="participant6CollegeID" ng-model="participant6CollegeID" placeholder="Your ID in your college" />
						</div>
						<div class="pure-control-group">
							<label> e-Mail </label>
							<input type="email" ng-required="formCtrl.toBeDisplayed(6)" name="participant6Mail" ng-model="participant6Mail" placeholder="Your MailID" />
						</div>
						<div class="pure-control-group">
							<label> Phone Number </label>
							<input type="number" ng-required="formCtrl.toBeDisplayed(6)" id="participant6Number" ng-model="participant6Phone" placeholder="Your Phone Number" />
						</div>
					</div>

					<div ng-if="formCtrl.toBeDisplayed(1)" id="submitWrapper">
						<button id="submitButton" class="pure-button" ng-disabled="registrationForm.$invalid">
							Submit
						</button>
					</div>
				</fieldset>
			</form>
			<div id="successMessage">
				<h1>
					You have successfully registered for the event.
				</h1>
			</div>
		</div>